.primary-color {
  color: #2ecc71;
}

.primary-bg {
  background-color: #2ecc71;
}
.custom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.primary-btn {
  border: 0;
  padding: 8px 16px;
  background-color: #2ecc71;
  color: #fff;
  transition: 0.3s ease-in-out;
}
